footer {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: var(--secondary);
  color: var(--text);
  padding: 1rem;
  border-top: 1px solid var(--text);
}
footer * {
  background-color: var(--secondary);
  color: var(--text);
}
footer div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100%/3);
}
footer div p{
    width: 100%;
    padding: .5rem;
}
footer div p span{
    font-size: larger;
}
.footer-contact-box{
    flex-direction: column;
}
.footer-contact-box p{
    text-align: left;
}
.footer-copyrights-box > p{
    text-align: center;
    font-size: 120%;
}
.footer-creator-box > p{
    text-align: center;
    font-size: 120%;
}
.footer-contact-box p:first-child{
    border-bottom: 1px solid var(--text);
}

@media (max-width: 635px) {
    footer{
        flex-direction: column;
    }
    .footer-copyrights-box > p{
        text-align: left;
        font-size: 100%;
    }
    .footer-creator-box > p{
        text-align: left;
        font-size: 100%;
    }
}
