header {
  display: flex;
  width: 100%;
}
header > nav {
  display: flex;
  border-bottom: var(--text) 1px solid;
  width: 100%;
  padding: 1rem;
}
header > nav, header nav *{
    background-color: var(--secondary);
}
.logo-box {
  display: flex;
  justify-content: flex-start;
  flex-basis: 40%;
}
.logo-box > a {
  display: block;
  position: relative;
}
.logo-box > a > img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.nav-list-box {
  flex-basis: 60%;
  display: flex;
  justify-content: flex-end;
}
.nav-list-box > ul {
  display: none;
  list-style-type: none;
}
.nav-list-box > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.nav-list-box > ul > li:nth-child(-n + 3) {
  flex-basis: calc(70% / 3);
}
.nav-list-box > ul > li:nth-child(n + 4) {
  flex-basis: 10%;
}
.show-sidebar-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
}
.sidebar-menu-container {
  display: none;
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
}
.sidebar-menu-container *{
    background-color: var(--accent);
}
.sidebar-menu-container > .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.close-button-box{
  position: absolute;
  right: 10px;
  top: 10px;
  width: fit-content;
  height: fit-content;
}
.close-button-box > button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  font-size: x-large;
}

.sidebar-list-box{
  display: flex;
  position: absolute;
  top: 50px;
}
.sidebar-list-box > ul{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.sidebar-list-box > ul > li{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  font-size: x-large;
}
.sidebar-list-box > ul > li:not(:last-child){
  border-bottom: var(--text) 1px solid;
}
.sidebar-list-box > ul > li > button{
  width: fit-content;
  height: fit-content;
  border: none;
}
.sidebar-list-box > ul > li > button > img{
  width: 50px;
  height: 50px;
}
.sidebar-list-box > ul > li > a{
  display: block;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}
.sidebar-list-box > ul > li > a > img{
  width: 50px;
  height: 50px;
}
.sidebar-enabled {
  display: flex;
}

.nav-list-box > ul > li > a {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--text);
  text-transform: uppercase;
}
.nav-list-box > ul > li > a > p {
  font-size: 110%;
}
.nav-list-box > ul > li > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  max-width: 40px;
  max-height: 40px;
  border: none;
}
.nav-list-box > ul > li > button > img {
  width: 80%;
  height: 80%;
  min-width: 30px;
  min-height: 30px;
}
.nav-list-box > ul > li > a > img {
  width: 80%;
  height: 80%;
}

.sidebar-showing-animation {
  animation: show-sidebar 0.3s linear 1;
}
.sidebar-hiding-animation {
  animation: hide-sidebar 0.3s linear 1;
}

/* Media Query for Mobile Devices*/
@media (max-width: 480px) {
  .logo-box,
  .nav-list-box {
    flex-basis: 50%;
  }
  .logo-box > a {
    width: 260px;
    height: 50px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .logo-box,
  .nav-list-box {
    flex-basis: 50%;
  }
  .logo-box > a {
    width: 260px;
    height: 50px;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .logo-box {
    flex-basis: 40%;
  }
  .nav-list-box {
    flex-basis: 60%;
  }
  .logo-box > a {
    width: 260px;
    height: 50px;
  }
  .nav-list-box > ul {
    display: flex;
    list-style-type: none;
    height: 100%;
    width: 100%;
  }
  .show-sidebar-btn {
    display: none;
  }
  .sidebar-menu-container {
    display: none;
  }
}

/* Media Query for Laptops, Desktops and more*/
@media (min-width: 1025px){
  .logo-box {
    flex-basis: 40%;
  }
  .nav-list-box {
    flex-basis: 60%;
  }
  .logo-box > a {
    width: 310px;
    height: 60px;
  }
  .nav-list-box > ul {
    display: flex;
    height: 100%;
    width: 100%;
  }
  .show-sidebar-btn {
    display: none;
  }
  .sidebar-menu-container {
    display: none;
  }
}


@keyframes show-sidebar {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes hide-sidebar {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}
