@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin";
}
html, body{
    width: 100vw;
    height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
}
button{
    cursor: pointer;
}