[data-theme="light"] {
  --text: #030407;
  --background: #f4f5fb;
  --primary: #3c64c3;
  --secondary: #dc8fd0;
  --accent: #d36f95;
}
[data-theme="dark"] {
  --text: #f8f9fc;
  --background: #04050b;
  --primary: #3c64c3;
  --secondary: #702365;
  --accent: #902c53;
}
* {
  background-color: var(--background);
  color: var(--text);
}
button[data-theme-toggle] {
  cursor: pointer;
}
