[data-theme="light"] {
    --color-bg: #ffffff;
    --color-text: #000000;
}

[data-theme="dark"] {
    --color-bg: #131313;
    --color-text: #ffffff;
}
*{
    background-color: var(--color-bg);
    color: var(--color-text);
}
button[data-theme-toggle]{
    cursor: pointer;
}